{% extends 'base.html' %}
{% load static %}

{%block content %}

<div class="registration__container container">
<div class="registration__box">
<h1 class="text-center">Log In</h1>
    <hr style="background: #aaa;" />
<form method="POST" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input id="exampleInputEmail1" name="email" type="email" class="form-control" aria-describedby="email" placeholder="example@gmail.com" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input id="exampleInputPassword1" name="password" type="password" class="form-control" aria-describedby="password" placeholder="Password" required>
  </div>

    <div class="banner__buttons mt-2">
        <button type="submit" class="banner__button">Login</button>
        <small class="text-muted" ml-2>
        <a class="ml-2" href="{% url 'password-reset' %}">Forgot Password?</a>
    </small>
    </div>
  </form>
  <div class="botter-top pt-3">
    <small class="text-muted">
      Need An Account?
      <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
    </small>
  </div>
</form>
</div>
</div>>
{%endblock %}

{%block fotter %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}