{% extends 'base.html' %}
{% load static %}

{%block content %}

<div class="registration__container container">
<div class="registration__box">
<h1 class="text-center">Password Reset</h1>
    <hr style="background: #aaa;" />
    <p>Otp has been sended to your Email: <strong>{{email}}</strong></p>
<form method="POST" action="{% url 'password-reset-conf' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="otp">OTP</label>
        <input id="otp" name="otp" type="text" class="form-control" aria-describedby="OTP" placeholder="OPT" required>
  </div>
    <div class="form-group">
    <input name="email" value="{{email}}" style="display:none;">
  </div>

    <div class="banner__buttons mt-2">
        <button type="submit" class="banner__button">Submit</button>
    </div>
</form>
</div>
</div>>
{%endblock %}

{%block fotter %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}